.contact-form {
  padding: 20px 10px;
  border-radius: 5px;
  box-shadow: 1px 1px 6px rgba(128, 128, 128, 0.518);
  // border: 2px solid rgba(128, 128, 128, 0.247);
  h4 {
    font-size: 1.1rem;
  }
}
